<h1>Root</h1>
<ul>
	<li><a href=/child/>/child direct</a></li>
	<li><a href=/child>/child redirect</a></li>
	<li><a href=/child/index.html>/child/index.html 404</a></li>
	<li><a href=/redir/>/redir/</a></li>
	<li><a href=/redir>/redir</a></li>
</ul>
